.messagesContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 10px;
}

.message {
  background-color: rgb(0, 24, 111);
  padding: 10px;
  border-radius: 5px;
  /* max-width: 300px; */
  /* margin-bottom: 10px; */
}