.messagesContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 2em;
  overflow-y: auto;
  height: 85vh;
  padding-top: 2em;
}

.message {
  background-color: rgb(0, 24, 111);
  padding: 1.5em;
  border-radius: 5px;
  margin: 0 5em;
  color: white;
  text-align: left;
}

.message span {
  color: #add9e6;
  font-size: small;
}

.message > div {
  display: flex;
  justify-content: space-between;
}

.chat {
  flex: 1;
  height: 100%;
}

.sendMessageContainer {
  margin: 2em 5em;
  padding-right: 20px;
  display: flex;
  gap: 10px;
  max-width: 1020px;
}

.sendMessageButton {
  background-color: #add9e6;
  color: rgb(0, 24, 111);
  border-radius: 7px;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
}

.sendMessageButton:hover {
  background-color: #a8bbbf;
}

.input {
  border: none;
  outline: none;
  padding: 1em 1em;
  border: none;
  border-radius: 7px;
  flex: 1;
}
