.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #add9e6;
  padding: 2em;
  border-radius: 5px;
  max-width: 1000px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
}

.input {
  padding: 0.8em 1em;
  border-radius: 5px;
  border: 1px solid rgb(63, 73, 204);
  box-sizing: border-box;
  outline: none;
}

.button {
  background: rgb(0, 24, 111);
  color: white;
  padding: 0.6em 1em;
  border: none;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background: rgb(63, 73, 204);
}

